@page "/"

<div class="top-row px-4">
    @if (chatting)
    {
        <MudButton @onclick="@DisconnectAsync" ariant="Variant.Filled" Color="Color.Success">Disconnect</MudButton>
    }
</div>

<div class="content px-4">
    
    <MudDialog @bind-isVisible="ShowDialog" Options="dialogOptions">
        <TitleContent>
            <MudText Typo="Typo.h6">
                <MudIcon Icon="@Icons.Material.Filled.Edit" Class="mr-3" /> 
                Enter username
            </MudText>
        </TitleContent>
        <DialogContent>
            <MudTextField @bind-Value="username" Label="Username" Variant="Variant.Outlined" Class="mb-3" Immediate="true" />
        </DialogContent>
        <DialogActions>
            <MudButton @onclick="@Chat" Variant="Variant.Filled" Color="Color.Success" Disabled="username.Length < 3" StartIcon="@Icons.Material.Filled.Chat">Start Chatting</MudButton>
        </DialogActions>
    </MudDialog>
        @*@if (notification != null)
    {
    <div class="invalid-feedback">@notification</div>
    <small id="emailHelp" class="form-text text-muted">@notification</small>
    }*@
    

    @if (chatting)
    {
        <MudPaper Class="d-flex flex-column justify-space-between py-6 border-2">

            <MudStack Justify="Justify.FlexEnd" AlignItems="AlignItems.Stretch" Row="false" Reverse="false" Spacing="30">
                @foreach (var item in messages)
                {
                    <MudPaper Class="@($"{item.CSS} pa-3")">
                        <MudStack Row="true">
                            <MudText class="user">@item.Username</MudText>
                            <MudText class="msg">@item.Body</MudText>
                        </MudStack>
                    </MudPaper>
                }
            </MudStack>
            <hr>
            <MudTextField @bind-Value="message" Label="Message" HelperText="@($"Writing as: {username}")" Variant="Variant.Outlined" />
            <MudButton @onclick="@SendAsync" Variant="Variant.Filled" Color="Color.Success" EndIcon="@Icons.Material.Filled.Send">Send</MudButton>
        </MudPaper>
    }
</div>


